@model ALLINONEPROJECTWITHOUTJS.DTOs.PurchaseViewModel

<div>
    <table class="table">
        <tr>
            <input type="hidden" id="CalcSource" name="purchaseMaster.CalcSource" value="" />
            <td><label>Code</label></td>
            <td><input type="number" readonly name="purchaseMaster.Id" value=@Model.purchaseMaster.Id /></td>
            <td><label>Date</label></td>
            <td><input autofocus type="date" name="purchaseMaster.PurchaseDate" value="@Model.purchaseMaster.PurchaseDate.ToString("yyyy-MM-dd")" /></td>           
            <td><label>Party</label></td>
            <td>
                <select name="purchaseMaster.PartyId">
                    <option value="0">-- Select Party --</option>
                    @foreach (var item in Model.partyMasters)
                    {
                        @* <option value=@item.Id selected="@(Model.purchaseMaster?.PartyId == @item.Id ? "selected" : null)">
                            @item.Name
                        </option> *@
                        @if (Model.purchaseMaster?.PartyId == item.Id)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </td>
            <td>
                @if (Model != null && Model.purchaseMaster.Id > 0)
                {
                    <button type="submit" formaction="/Purchase/UpdatePurchase">Update</button>
                }
                else
                {
                    <button type="submit" formaction="/Purchase/SavePurchase">Save</button>
                }
            </td>
        </tr>
    </table>
</div>