@model ALLINONEPROJECTWITHOUTJS.DTOs.PurchaseViewModel

<table class="table">
    <thead>
    <th>Item Name</th>
    <th>Qty</th>
    <th>Rate</th>
    <th>Amount</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @for (int i = 0; i < (Model.purchaseMaster.purchaseDetails?.Count ?? 0); i++)
            {
                <tr>
                    <td>
                        <select name="purchaseMaster.purchaseDetails[@i].ItemId" onchange="this.form.submit()">
                            <option value="0">-- Select Item --</option>
                            @foreach (var item in Model.itemMasters)
                            {
                                @* <option value="@item.Id" @(Model.purchaseMaster.purchaseDetails[i].ItemId == item.Id ? "selected" : "")>@item.Name</option> *@
                                @if (Model.purchaseMaster.purchaseDetails[i].ItemId == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td><input type="number" oninput="this.form.submit()" name="purchaseMaster.purchaseDetails[@i].Qty" value="@Model.purchaseMaster.purchaseDetails[i].Qty" /></td>
                    <td><input type="number" readonly name="purchaseMaster.purchaseDetails[@i].Rate" value="@Model.purchaseMaster.purchaseDetails[i].Rate" /></td>
                    <td><input type="number" readonly name="purchaseMaster.purchaseDetails[@i].Amount" value="@Model.purchaseMaster.purchaseDetails[i].Amount" /></td>
                    <td>
                        <button type="submit" formaction="/Purchase/AddNewRow">Add New Row</button>
                        <button type="submit" formaction="/Purchase/DeleteRow">Delete Row</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>